<nav class="menu-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-menu-item">
            <li class="item">
              <a href="/" class="active" ><i class="fa fa-home"></i> Trang chủ</a>
            </li>

            <li class="item relative">
              <a href="/cho-thue-ghe-massage-theo-yeu-cau" class="active" ><i class="fa fa-cog"></i> Dịch vụ cho thuê ghế massage</a>
              <div class="item-detail service">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-right">
                        <ul>
                          <%for(var i=0;i<lastpostshome.count;i++){%>
                            <li>
                              <a href="/<%=lastpostshome.posts[i].titleseo%>" title=""><i class="fa fa-angle-double-right"></i> <%=lastpostshome.posts[i].title%></a>
                            </li>
                          <%}%>
                       </ul>
                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/tin-tuc" class="active" ><i class="fa fa-newspaper-o"></i> Tin tức</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-xs-8">
            <%- include('../fontend/partials/slideshow') %>
      </div>
      <div class="col-xs-4">
            <%- include('../fontend/partials/home-news') %>
      </div>
    </div>
</div>


<%- include('../fontend/partials/dich-vu-sua-chua') %>
