<nav class="menu-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-menu-item">
            <li class="item">
              <a href="/" class="active" ><i class="fa fa-home"></i> Trang chủ</a>
            </li>

            <li class="item relative">
              <a href="/cho-thue-ghe-massage-theo-yeu-cau" class="active" ><i class="fa fa-cog"></i> Dịch vụ cho thuê ghế massage</a>
              <div class="item-detail service">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-right">
                        <ul>
                          <%for(var i=0;i<lastpostshome.count;i++){%>
                            <li>
                              <a href="/<%=lastpostshome.posts[i].titleseo%>" title=""><i class="fa fa-angle-double-right"></i> <%=lastpostshome.posts[i].title%></a>
                            </li>
                          <%}%>
                       </ul>
                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/tin-tuc" class="active" ><i class="fa fa-newspaper-o"></i> Tin tức</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section >
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item service"><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item service"><a href="/dich-vu-sua-chua"><i class="fa fa-cog"></i> Dịch vụ sửa chữa</a></li>
                        <li class="breadcrumb-item service-current" active aria-current="page"> <i class="fa fa-cog"></i> <%=postsdetail.post[0].title%></li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 relative">
              <div class="service-outstanding">
                <div class="col-xs-3">
                  <figure>
                    <img src="/dich-vu-sua-chua-24h-bao-hanh-12-thang-bao-tri-tron-doi.jpg" class="round" alt="Dịch vụ sửa chữa 24h, bảo hành dài hạn 12 tháng, bảo trì trọn đời">
                  </figure>
                </div>
                <div class="col-xs-3">
                  <figure>
                    <img src="/mua-ban-san-pham-da-qua-su-dung.jpg" class="round" alt="Mua bán sản phẩm đã qua sử dụng">
                  </figure>
                </div>
                <div class="col-xs-3">
                  <figure>
                    <img src="/giao-hang-mien-phi-cac-tinh-noi-thanh.jpg" class="round" alt="giao hàng miễn phí các tỉnh nội thành">
                  </figure>
                </div>
                <div class="col-xs-3 ">
                  <div class="aside-right-postdetail">
                    <aside>
                      <div class="suggest">
                          <figure class="template post">
                                    <figcaption>Các dịch vụ khác</figcaption>
                                    <b></b>
                          </figure>
                          <div class="view-content post">
                              <ul class="list-padding" style="">
                                <%for(var i=0;i<postsfilter.count;i++){%>
                                  <li class="">
                                    <h5>
                                      <a href="/<%=postsfilter.post[i].titleseo%>"><i class="fa fa-angle-double-right"></i> <%=postsfilter.post[i].title%></a>
                                    </h5>
                                  </li>
                                  <%}%>
                              </ul>
                          </div>
                      </div>
                    </aside>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-9">
                <div class="service-content">
                    <h1 class="title-service"> <%-postsdetail.post[0].title%></h1>
                    <div class="body-service-content">
                       <%-postsdetail.post[0].description%>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
