<aside class="homenews-mb">
  <figure>
      <h2>
        <a href="/tin-tuc">Hot</a>
      </h2>
      <a href="/tin-tuc/<%=hotnews.news[0].titleseo%>" class="liveevent-newsmb" target="_blank">
          <span id="dot">
              <span class="ping"></span>
          </span>
          <span class="text">
              <%=hotnews.news[0].title%>
          </span>
      </a>
  </figure>

</aside>
<aside class="slideshow-mb">
  <div id="sync1" class="owl-carousel">
    <%for(var i=0; i<slidehome.count;i++){%>
      <div class="item">
        <a href="#"><img src="/assest/image/<%=slidehome.slides[i].image%>" alt="<%=slidehome.slides[i].image%>"></a>
      </div>
    <%}%>
  </div>
  <div id="sync2" class="owl-carousel ">
    <%for(var i=0; i<slidehome.count;i++){%>
      <div class="item"><h3><%=slidehome.slides[i].title%></h3></div>
    <%}%>
  </div>
</aside>

<section>
  <div class="products-sale-mb">
        <h2>flash sale</h2>
        <div class="cutdown-mb" id="count-down-1" data-count-down="<%=dateflashsale%>" data-current-time="2018/02/02 12:00">
            <div class="time-cutdown">
                  <div class="table-cell">
                      <div class="tab-val days" style="opacity: 1;">02</div>
                  </div>
                  <div class="space">D</div>
                  <div class="table-cell">
                      <div class="tab-val hours">00</div>
                  </div>
                  <div class="space">H</div>
                  <div class="table-cell">
                      <div class="tab-val minutes">34</div>
                  </div>
                  <div class="space">M</div>
                  <div class="table-cell">
                      <div class="tab-val seconds">57</div>
                  </div>
                  <div class="space">S</div>
            </div>
        </div>
  </div>
  <div style="clear:both"></div>
</section>

<section>
  <div class="products-sale-mb">
        <h2>Dịch vụ cho thuê ghế massage</h2>
        <a href="/cho-thue-ghe-massage-theo-yeu-cau" class="view-all">xem chi tiết <i class="fa fa-angle-right"></i></a>
  </div>
  <div style="clear:both"></div>
  <div class="row">
      <div class="dichvuchothue" >
          <div class="col-xs-12">
            <div class="box-cho-thue">
              <div class="title-cho-thue orange"><%=services.service[0].name%></div>
              <div class="image-cho-thue"><img src="/assest/image/<%=lastpostshome.posts[0].image%>" alt="cho thuê ghế massage tại nhà"></div>
              <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage phục vụ chăm sóc sức khỏe hãy gọi cho chúng tôi để được tư vấn và hướng dẫn.</div>
              <div class="btn-view-chothue">
                  <a href="/cho-thue-ghe-massage-tai-nha"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
              </div>
            </div>

          </div>
          <div class="col-xs-12">
            <div class="box-cho-thue">
              <div class="title-cho-thue blue"><%=services.service[1].name%></div>
              <div class="image-cho-thue"><img src="/assest/image/<%=lastpostshome.posts[1].image%>" alt="cho thuê ghế massage tại nhà"></div>
              <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage để tổ chức hội thảo, hội nghị. Hãy gọi cho chúng tôi để được tư vấn và hướng dẫn</div>
              <div class="btn-view-chothue">
                  <a href="/cho-thue-ghe-massage-to-chuc-hoi-thao-hoi-nghi"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-cho-thue">
              <div class="title-cho-thue green"><%=services.service[2].name%></div>
              <div class="image-cho-thue"><img src="/assest/image/<%=lastpostshome.posts[2].image%>" alt="cho thuê ghế massage tại nhà"></div>
              <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage để tổ chức gameshow, chương trình. Hãy gọi cho chúng tôi để được tư vấn và hướng dẫn</div>
              <div class="btn-view-chothue">
                  <a href="/cho-thue-ghe-massage-to-chuc-game-show-chuong-trinh"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
