


<section>
    <div id="dichvusuachua" class="container">
        <div class="row">
              <div class="col-xs-12">
                  <h2>Dịch vụ cho thuê ghế massage</h2>
          </div>
        <div class="row">
            <div class="dichvuchothue" id="dichvuchothue">
                <div class="col-xs-4">
                  <div class="box-cho-thue">
                    <div class="title-cho-thue orange"><%=services.service[0].name%></div>
                    <div class="image-cho-thue"><img src="/assest/image/<%=lastpostshome.posts[0].image%>" alt="cho thuê ghế massage tại nhà"></div>
                    <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage phục vụ chăm sóc sức khỏe hãy gọi cho chúng tôi để được tư vấn và hướng dẫn.</div>
                    <div class="btn-view-chothue">
                        <a href="/cho-thue-ghe-massage-tai-nha"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
                    </div>
                  </div>

                </div>
                <div class="col-xs-4">
                  <div class="box-cho-thue">
                    <div class="title-cho-thue blue"><%=services.service[1].name%></div>
                    <div class="image-cho-thue"><img src="/assest/image/<%=lastpostshome.posts[1].image%>" alt="cho thuê ghế massage tại nhà"></div>
                    <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage để tổ chức hội thảo, hội nghị. Hãy gọi cho chúng tôi để được tư vấn và hướng dẫn</div>
                    <div class="btn-view-chothue">
                        <a href="/cho-thue-ghe-massage-to-chuc-hoi-thao-hoi-nghi"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="box-cho-thue">
                    <div class="title-cho-thue green"><%=services.service[2].name%></div>
                    <div class="image-cho-thue"><img src="/assest/image/<%=lastpostshome.posts[2].image%>" alt="cho thuê ghế massage tại nhà"></div>
                    <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage để tổ chức gameshow, chương trình. Hãy gọi cho chúng tôi để được tư vấn và hướng dẫn</div>
                    <div class="btn-view-chothue">
                        <a href="/cho-thue-ghe-massage-to-chuc-game-show-chuong-trinh"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
